
<div class="row" id="activityReturnParamView-container">

	<div class="col-md-3 " id="activityReturnParamView-divLeft">
		<div class="panel panel-default left-all">
			<div class="panel-heading">
				<div class="iom-cloud-table-panel">
					<div class="row titleDiv">
						<div class="col-md-12 form-group pull-left">
							<label class="table-name">原子对象目录</label>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body scrollable">

				<div style="position: relative; width: 100%">
					<div class="org-grid-search-bar" style="padding: 0px 0px 5px 0px;">
						<div class="input-group search-group card"
							id="com-staffmgr-org-grid-search" data-toggle="searchbar"></div>
					</div>
					<!-- 原子服务对象目录 -->
					<div id="atomic_service_obj_catalog" class="card"
						style="width: 100%"></div>
				</div>


			</div>
		</div>
	</div>


	<div class="col-md-9 " id="activityReturnParamView-divRight">

		<div class="row">
			<div class="panel panel-default right-firsh">
				<div class="panel-heading">
					<div class="iom-cloud-table-panel">
						<div class="row titleDiv">
							<div class="col-md-4 form-group pull-left">
								<label class="table-name">原子对象列表</label>
							</div>

							<div class="form-group col-md-8 text-right form-inline"></div>
						</div>

					</div>
				</div>
				<div class="panel-body">
					<!-- 原子对象列表 -->
					<div id="atomic_service_obj_list_grid"></div>
				</div>

			</div>
		</div>

		<div class="row">
			<div class="panel panel-default right-second">
				<div class="panel-heading">
					<div class="iom-cloud-table-panel">
						<div class="row titleDiv">
							<div class="col-md-6 form-group pull-left">
								<label class="table-name">回单参数配置</label>
							</div>
							<div class="col-md-6 text-right js-buttons-view"></div>
						</div>

					</div>
				</div>
				<div class="panel-body">
					<!-- 回单参数配置 -->
					<div id="activity_return_param_grid">


						<div></div>

						<div class="row">
							<form class="form-horizontal" id="activityReturnParam" action="#"
								method="post" autocomplete="off">

								<div class="row">

									<div class="col-md-2 control-label">退单编码:</div>
									<div class="col-md-9">
										<div class="input-group popedit">
											<input class="form-control" type="text" placeholder="请选择"
												id="returnReasonCode" data-url="#returnReasonCodeWin">
										</div>
									</div>
									<div class="col-md-1"></div>
								</div>

								<div class="row">
									<div class="col-md-2 control-label">退单描述:</div>
									<div class="col-md-9">
										<div class="input-group popedit">
											<input class="form-control" type="text" placeholder="请选择"
												id="returnReasonDesc" data-url="#returnReasonCodeWin">
										</div>
									</div>
									<div class="col-md-1"></div>
								</div>


								<div class="row">
									<div class="col-md-2 control-label">工单ID:</div>
									<div class="col-md-9">
										<div class="input-group popedit">
											<input class="form-control" type="text" placeholder="请选择"
												id="workOrderId" data-url="#returnReasonCodeWin">
										</div>
									</div>
									<div class="col-md-1"></div>
								</div>
								<div class="row">
									<div class="col-md-2 control-label">处理结果:</div>
									<div class="col-md-9">
										<div class="input-group popedit">
											<input class="form-control" type="text" placeholder="请选择"
												id="responseCode" data-url="#responseCodeWin">
										</div>
									</div>
									<div class="col-md-1"></div>
								</div>
								<div class="row">
									<div class="col-md-11 text-right js-buttons-view">
										<button type="button" id="resetBtn" class="btn btn-default"
											onclick="$('#activityReturnParam')[0].reset()">重置</button>
										<button type="button" id="activityReturnParamBtn"
											class="btn btn-primary">确定</button>
									</div>
								</div>

							</form>
						</div>


						<!----- start 退单编码 ----->
						<div id="returnReasonCodeWin" class="ui-dialog">

							<div class="modal-header">
								<h4 class="modal-title">选择原子服务对象出参</h4>
							</div>
							<div class="modal-body">
								<div id="returnReasonCodeTree"
									style="width: 500px; height: 350px"></div>
							</div>
						</div>
						<!----- end 退单编码 ----->

						<!----- start 处理结果 ----->
						<div id="responseCodeWin" class="ui-dialog">

							<div class="modal-header">
								<h4 class="modal-title">处理结果</h4>
							</div>
							<div class="modal-body">
								<div id="responseCodeContent" style="width: 500px;">
									<form id="responseCodeForm">
										<div class="row" style="margin: 20px 0px;">
											<div class="col-md-3">处理结果</div>
											<div class="col-md-4">取值枚举</div>
											<div class="col-md-5">参数选择</div>
										</div>
										<div class="row" style="margin: 20px 0px;">
											<div class="col-md-3">处理成功</div>
											<div class="col-md-4">
												<input class="form-control" name="stateCode" id="stateCode"
													placeholder="请输入编码" data-rule="编码: required;"
													onkeyup="stateCodeLimit(this)">
											</div>
											<div class="col-md-5">
												<div class="input-group popedit">
													<input class="form-control" type="text" placeholder="请选择"
														data-rule="参数:required;" id="selectOutParam">
												</div>
											</div>
										</div>
										<div class="row" style="margin: 20px 30px">
											<div class="col-md-12">
												<p>请填写对方响应正文中表征处理成功的编码, 多个以英文逗号分割, 并选择响应正文位置,
													其他编码默认为处理失败</p>
											</div>
										</div>
										<div class="row" style="margin: 60px 0px 10px 0px">
											<div class="col-md-12 text-right js-buttons-view">
												<button type="button" id="cancelBtn" class="btn btn-default">取消
												</button>
												<button type="button" id="responseCodeContentBtn"
													onclick="setResponseCodeContent()" class="btn btn-primary">确定</button>
											</div>
										</div>


									</form>
								</div>
							</div>

						</div>
						<!----- end 工单ID ----->
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="split_line"></div>
<div id="moreView1"></div>
<div class="split_line"></div>
<div id="moreView2"></div>

