<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<!-- 浏览器图标 -->
<link rel="icon" href="/redpro/image/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/redpro/image/favicon.ico"
	type="image/x-icon" />
<link rel="bookmark" href="/redpro/image/favicon.ico"
	type="image/x-icon" />
<link rel="stylesheet"
	href="/redpro/fish/fish-desktop/css/fish-desktop-portal.min.css" />
<link rel="stylesheet" href="/redpro/css/cloud-proj-all.css">
<link rel="stylesheet" href="/redpro/css/iom-cloud.css">
<script src='/redpro/js/test/data.js'></script>

<script src='/redpro/fish/fish-desktop/js/fish-desktop-all.js'></script>
<!-- 模块化加载入口 -->
<script src="/redpro/fish/fish-desktop/js/fish-desktop-require.js"
	data-main="/redpro/js/fish/main"></script>


<title>模块化开发</title>
</head>
<body>
<div id="content" style="height:100%;width:100%">
<p>你好</p>
</div>

</body>

</html>