

<!-- 浏览器图标 -->
<link rel="icon" href="/redpro/image/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/redpro/image/favicon.ico" type="image/x-icon" />
<link rel="bookmark" href="/redpro/image/favicon.ico" type="image/x-icon" />

<!-- alert框 -->
<link href="/redpro/bootstrap/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/redpro/plugins/alert/css/demo.css">
<link rel="stylesheet" href="/redpro/plugins/alert/css/style.css">
<script src="/redpro/plugins/alert/js/hullabaloo.js"></script>


<!-- 基本js -->
<link href="/redpro/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src='/redpro/js/jquery-3.1.1.min.js'></script>
<script src="/redpro/bootstrap/js/bootstrap.min.js"></script>


<!-- 自定义变量 -->
<script type="text/javascript">
	//弹窗警告
	$.alert = new hullabaloo();
</script>

